Node-RED/node-red-raspi.js
[
    {
        "id": "ae36a1104abe26ec",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Nama Product CR1",
        "func": "if (msg.payload[0] == \"1\") {\n    msg.payload = msg.payload[1]\n    msg.topic = \"name_product\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "6a709cd30d6916a2",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Nama Product CR2",
        "func": "if (msg.payload[0] == \"2\") {\n    msg.payload = msg.payload[1]\n    msg.topic = \"name_product\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "2eb76d291ba77de2",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Nama Product CR3",
        "func": "if (msg.payload[0] == \"3\") {\n    msg.payload = msg.payload[1]\n    msg.topic = \"name_product\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "228108c44f7e77c2",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Nama Product CR4",
        "func": "if (msg.payload[0] == \"4\") {\n    msg.payload = msg.payload[1]\n    msg.topic = \"name_product\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "aaa2a792ff5e7cea",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Nama Product CR5",
        "func": "if (msg.payload[0] == \"5\") {\n    msg.payload = msg.payload[1]\n    msg.topic = \"name_product\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "c1a8ac2735bb970a",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Nama Product CR6",
        "func": "if (msg.payload[0] == \"6\") {\n    msg.payload = msg.payload[1]\n    msg.topic = \"name_product\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "2a36be0280bbdf85",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Nama Product CR7",
        "func": "if (msg.payload[0] == \"7\") {\n    msg.payload = msg.payload[1]\n    msg.topic = \"name_product\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "444d6f5612a491e4",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Nama Product CR8",
        "func": "if (msg.payload[0] == \"8\") {\n    msg.payload = msg.payload[1]\n    msg.topic = \"name_product\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "2b6cc3aeb9ddfb64",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Nama Product CR9",
        "func": "if (msg.payload[0] == \"9\") {\n    msg.payload = msg.payload[1]\n    msg.topic = \"name_product\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "1337ed2fc5f9bc5a",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Nama Product CR10",
        "func": "if (msg.payload[0] == \"10\") {\n    msg.payload = msg.payload[1]\n    msg.topic = \"name_product\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "80bf821ae1eca772",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Nama Product CR11",
        "func": "if (msg.payload[0] == \"11\") {\n    msg.payload = msg.payload[1]\n    msg.topic = \"name_product\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "ff93bc06585aba9a",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Nama Product CR12",
        "func": "if (msg.payload[0] == \"12\") {\n    msg.payload = msg.payload[1]\n    msg.topic = \"name_product\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "34a420a27d1ab34a",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Nama Product Machining Cam Housing A",
        "func": "if (msg.payload[0] == \"13A\") {\n    msg.payload = msg.payload[1]\n    msg.topic = \"name_product\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "4e62cabc75522a45",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Nama Product Machining Cam Housing B",
        "func": "if (msg.payload[0] == \"13B\") {\n    msg.payload = msg.payload[1]\n    msg.topic = \"name_product\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "9ca02e53b0ef2d14",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Nama Product Machining Cam Housing C",
        "func": "if (msg.payload[0] == \"14A\") {\n    msg.payload = msg.payload[1]\n    msg.topic = \"name_product\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "c2c74459e2c9ceb7",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Nama Product Machining Cam Housing D",
        "func": "if (msg.payload[0] == \"14B\") {\n    msg.payload = msg.payload[1]\n    msg.topic = \"name_product\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "7235cc48e4b1a3ba",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Nama Product Machining Cam Housing E NR",
        "func": "if (msg.payload[0] == \"15A\") {\n    msg.payload = msg.payload[1]\n    msg.topic = \"name_product\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "9833f95acb6e23f1",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Nama Product Machining Cam Housing E D05E",
        "func": "if (msg.payload[0] == \"15B\") {\n    msg.payload = msg.payload[1]\n    msg.topic = \"name_product\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "3e584e5dfbc7992d",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Nama Product Cam Housing Assy A",
        "func": "if (msg.payload[0] == \"16\") {\n    msg.payload = msg.payload[1]\n    msg.topic = \"name_product\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "e47dc5edd628a445",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Nama Product Cam Housing Assy B",
        "func": "if (msg.payload[0] == \"17\") {\n    msg.payload = msg.payload[1]\n    msg.topic = \"name_product\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "127475102c97ef84",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Nama Product Cam Housing Assy C NR",
        "func": "if (msg.payload[0] == \"18A\") {\n    msg.payload = msg.payload[1]\n    msg.topic = \"name_product\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "e1adf58aaf4db3d7",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Nama Product Cam Housing Assy C D05E",
        "func": "if (msg.payload[0] == \"18B\") {\n    msg.payload = msg.payload[1]\n    msg.topic = \"name_product\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "d28695d3f2225fdf",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Nama Product Cam Shaft Cam Housing 1A",
        "func": "if (msg.payload[0] == \"19\") {\n    msg.payload = msg.payload[1]\n    msg.topic = \"name_product\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "c1fe13721fed4872",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Nama Product Cam Shaft Cam Housing 1B",
        "func": "if (msg.payload[0] == \"20\") {\n    msg.payload = msg.payload[1]\n    msg.topic = \"name_product\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "34f289a204fac33c",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Nama Product Cam Shaft Cam Housing 1C NR",
        "func": "if (msg.payload[0] == \"21A\") {\n    msg.payload = msg.payload[1]\n    msg.topic = \"name_product\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "193b33d9662a2312",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Nama Product Cam Shaft Cam Housing 2 & 3 D05E",
        "func": "if (msg.payload[0] == \"22\") {\n    msg.payload = msg.payload[1]\n    msg.topic = \"name_product\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "b858109c5f751b83",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Nama Product Cam Shaft Cam Housing 2",
        "func": "if (msg.payload[0] == \"23\") {\n    msg.payload = msg.payload[1]\n    msg.topic = \"name_product\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "c85ab1d421d8d65a",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Nama Product Cam Shaft Cam Housing 3",
        "func": "if (msg.payload[0] == \"24\") {\n    msg.payload = msg.payload[1]\n    msg.topic = \"name_product\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "c1d67c2d1e083e38",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Nama Product Cam Shaft Cam Housing 4",
        "func": "if (msg.payload[0] == \"25\") {\n    msg.payload = msg.payload[1]\n    msg.topic = \"name_product\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 1300,
        "wires": [
            []
        ]
    },
    {
        "id": "c6454437a1c8f2f8",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Nama Product Spacer Drive Gear",
        "func": "if (msg.payload[0] == \"26\") {\n    msg.payload = msg.payload[1]\n    msg.topic = \"name_product\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "dcd229fb2451741c",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Nama Product Retainer",
        "func": "if (msg.payload[0] == \"27\") {\n    msg.payload = msg.payload[1]\n    msg.topic = \"name_product\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 1380,
        "wires": [
            []
        ]
    },
    {
        "id": "e2e326eaa679b2b3",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Nama Product Inlet Water",
        "func": "if (msg.payload[0] == \"28\") {\n    msg.payload = msg.payload[1]\n    msg.topic = \"name_product\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 1420,
        "wires": [
            []
        ]
    },
    {
        "id": "d6ff0f73a907fd0f",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Nama Product Roller Arm A",
        "func": "if (msg.payload[0] == \"29\") {\n    msg.payload = msg.payload[1]\n    msg.topic = \"name_product\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 1460,
        "wires": [
            []
        ]
    },
    {
        "id": "40b0cd1b534f5632",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Nama Product Roller Arm B",
        "func": "if (msg.payload[0] == \"30\") {\n    msg.payload = msg.payload[1]\n    msg.topic = \"name_product\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 1500,
        "wires": [
            []
        ]
    },
    {
        "id": "4dba87c7bdd9274a",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Nama Product Balance Shaft",
        "func": "if (msg.payload[0] == \"31\") {\n    msg.payload = msg.payload[1]\n    msg.topic = \"name_product\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 1540,
        "wires": [
            []
        ]
    },
    {
        "id": "87741c4b178f5478",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Nama Product Adjuster Valve HLA",
        "func": "if (msg.payload[0] == \"32\") {\n    msg.payload = msg.payload[1]\n    msg.topic = \"name_product\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 1580,
        "wires": [
            []
        ]
    },
    {
        "id": "b80abfef9b2209ae",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Nama Product Export Packing Common Rail",
        "func": "if (msg.payload[0] == \"33\") {\n    msg.payload = msg.payload[1]\n    msg.topic = \"name_product\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 1620,
        "wires": [
            []
        ]
    },
    {
        "id": "5f243b880de658a8",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Nama Product Export Packing IMV",
        "func": "if (msg.payload[0] == \"34\") {\n    msg.payload = msg.payload[1]\n    msg.topic = \"name_product\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 1660,
        "wires": [
            []
        ]
    },
    {
        "id": "d3321cd417f72330",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Target Product CR1",
        "func": "if (msg.payload[0] == \"1\") {\n    msg.payload = msg.payload[2]\n    msg.topic = \"target\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "c0b06a1f73dbbcd8",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Target Product CR2",
        "func": "if (msg.payload[0] == \"2\") {\n    msg.payload = msg.payload[2]\n    msg.topic = \"target\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "6b3ef8bb32e6e812",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Target Product CR3",
        "func": "if (msg.payload[0] == \"3\") {\n    msg.payload = msg.payload[2]\n    msg.topic = \"target\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "84b32059ef82fedf",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Target Product CR4",
        "func": "if (msg.payload[0] == \"4\") {\n    msg.payload = msg.payload[2]\n    msg.topic = \"target\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "301ca616cb9ad149",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Nama Product Cam Shaft Cam Housing 1C D05E",
        "func": "if (msg.payload[0] == \"21B\") {\n    msg.payload = msg.payload[1]\n    msg.topic = \"name_product\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "e30b844df29a5abf",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Target Product CR5",
        "func": "if (msg.payload[0] == \"5\") {\n    msg.payload = msg.payload[2]\n    msg.topic = \"target\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "b08427e985bd5ce9",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Target Product CR6",
        "func": "if (msg.payload[0] == \"6\") {\n    msg.payload = msg.payload[2]\n    msg.topic = \"target\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "980e5b2ef4bbe66a",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Target Product CR7",
        "func": "if (msg.payload[0] == \"7\") {\n    msg.payload = msg.payload[2]\n    msg.topic = \"target\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "e8d1db2e7adfdc7d",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Target Product CR8",
        "func": "if (msg.payload[0] == \"8\") {\n    msg.payload = msg.payload[2]\n    msg.topic = \"target\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "390d1eb175ea459d",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Target Product CR9",
        "func": "if (msg.payload[0] == \"9\") {\n    msg.payload = msg.payload[2]\n    msg.topic = \"target\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "e95ba3fa7e26208b",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Target Product CR10",
        "func": "if (msg.payload[0] == \"10\") {\n    msg.payload = msg.payload[2]\n    msg.topic = \"target\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "3d71514288ae65fa",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Target Product CR11",
        "func": "if (msg.payload[0] == \"11\") {\n    msg.payload = msg.payload[2]\n    msg.topic = \"target\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "a284af476a2bbcbf",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Target Product CR12",
        "func": "if (msg.payload[0] == \"12\") {\n    msg.payload = msg.payload[2]\n    msg.topic = \"target\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "62b945dd37d3130a",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Target Product Machining Cam Housing A",
        "func": "if (msg.payload[0] == \"13A\") {\n    msg.payload = msg.payload[2]\n    msg.topic = \"target\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "17b27771e65f8dbc",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Nama Product Machining Cam Housing B",
        "func": "if (msg.payload[0] == \"13B\") {\n    msg.payload = msg.payload[2]\n    msg.topic = \"target\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "bcdad2209e62609a",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Target Product Machining Cam Housing C",
        "func": "if (msg.payload[0] == \"14A\") {\n    msg.payload = msg.payload[2]\n    msg.topic = \"target\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "083c5b3152b3502a",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Target Product Machining Cam Housing D",
        "func": "if (msg.payload[0] == \"14B\") {\n    msg.payload = msg.payload[1]\n    msg.topic = \"target\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "6c3f7c030939bd87",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Target Product Machining Cam Housing E NR",
        "func": "if (msg.payload[0] == \"15A\") {\n    msg.payload = msg.payload[2]\n    msg.topic = \"target\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "97193fa4cb0881bd",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Target Product Machining Cam Housing E D05E",
        "func": "if (msg.payload[0] == \"15B\") {\n    msg.payload = msg.payload[2]\n    msg.topic = \"target\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "0f0158278b048d03",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Target Product Cam Housing Assy A",
        "func": "if (msg.payload[0] == \"16\") {\n    msg.payload = msg.payload[2]\n    msg.topic = \"target\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "f1d14d43b2977af5",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Target Product Cam Housing Assy B",
        "func": "if (msg.payload[0] == \"17\") {\n    msg.payload = msg.payload[2]\n    msg.topic = \"target\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "5f4e850ff643bd66",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Target Product Cam Housing Assy C NR",
        "func": "if (msg.payload[0] == \"18A\") {\n    msg.payload = msg.payload[2]\n    msg.topic = \"target\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "2a71680d66ac2b20",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Target Product Cam Housing Assy C D05E",
        "func": "if (msg.payload[0] == \"18B\") {\n    msg.payload = msg.payload[2]\n    msg.topic = \"target\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "a4dd5445d2bc349e",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Target Product Cam Shaft Cam Housing 1A",
        "func": "if (msg.payload[0] == \"19\") {\n    msg.payload = msg.payload[2]\n    msg.topic = \"target\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "50df67183ba39fab",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Target Product Cam Shaft Cam Housing 1B",
        "func": "if (msg.payload[0] == \"20\") {\n    msg.payload = Number(msg.payload[2])\n    msg.topic = \"target\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "d2b4a36424be1912",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Target Product Cam Shaft Cam Housing 1C NR",
        "func": "if (msg.payload[0] == \"21A\") {\n    msg.payload = msg.payload[2]\n    msg.topic = \"target\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "7205a2c9e88e87e1",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Target Product Cam Shaft Cam Housing 2 & 3 D05E",
        "func": "if (msg.payload[0] == \"22\") {\n    msg.payload = msg.payload[2]\n    msg.topic = \"target\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "834d17b60561c25f",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Target Product Cam Shaft Cam Housing 2",
        "func": "if (msg.payload[0] == \"23\") {\n    msg.payload = msg.payload[2]\n    msg.topic = \"target\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "164e2b6600beb2f2",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Target Product Cam Shaft Cam Housing 3",
        "func": "if (msg.payload[0] == \"24\") {\n    msg.payload = msg.payload[2]\n    msg.topic = \"target\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "6e0a95828633c84f",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Target Product Cam Shaft Cam Housing 4",
        "func": "if (msg.payload[0] == \"25\") {\n    msg.payload = msg.payload[2]\n    msg.topic = \"target\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 1300,
        "wires": [
            []
        ]
    },
    {
        "id": "9a6d9a9186a1fe15",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Target Product Spacer Drive Gear",
        "func": "if (msg.payload[0] == \"26\") {\n    msg.payload = msg.payload[2]\n    msg.topic = \"target\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "e647a0a45c6d672c",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Target Product Retainer",
        "func": "if (msg.payload[0] == \"27\") {\n    msg.payload = msg.payload[2]\n    msg.topic = \"target\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 1380,
        "wires": [
            []
        ]
    },
    {
        "id": "e2dcb7d40a299a72",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Target Product Inlet Water",
        "func": "if (msg.payload[0] == \"28\") {\n    msg.payload = msg.payload[2]\n    msg.topic = \"target\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 1420,
        "wires": [
            []
        ]
    },
    {
        "id": "41eff13047452bba",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Target Product Roller Arm A",
        "func": "if (msg.payload[0] == \"29\") {\n    msg.payload = msg.payload[2]\n    msg.topic = \"target\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 1460,
        "wires": [
            []
        ]
    },
    {
        "id": "78587d079bd554f0",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Target Product Roller Arm B",
        "func": "if (msg.payload[0] == \"30\") {\n    msg.payload = msg.payload[2]\n    msg.topic = \"target\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 1500,
        "wires": [
            []
        ]
    },
    {
        "id": "e98ff22fe8b42be4",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Target Product Balance Shaft",
        "func": "if (msg.payload[0] == \"31\") {\n    msg.payload = msg.payload[2]\n    msg.topic = \"target\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 1540,
        "wires": [
            []
        ]
    },
    {
        "id": "c96e8d9ad3fd8c24",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Target Product Adjuster Valve HLA",
        "func": "if (msg.payload[0] == \"32\") {\n    msg.payload = msg.payload[2]\n    msg.topic = \"target\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 1580,
        "wires": [
            []
        ]
    },
    {
        "id": "076da696672c2e5e",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Target Product Export Packing Common Rail",
        "func": "if (msg.payload[0] == \"33\") {\n    msg.payload = msg.payload[2]\n    msg.topic = \"target\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 1620,
        "wires": [
            []
        ]
    },
    {
        "id": "46bc30b72a0521fc",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Target Product Export Packing IMV",
        "func": "if (msg.payload[0] == \"34\") {\n    msg.payload = msg.payload[2]\n    msg.topic = \"target\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 1660,
        "wires": [
            []
        ]
    },
    {
        "id": "cb5a5e43705935c8",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Target Product Cam Shaft Cam Housing 1C D05E",
        "func": "if (msg.payload[0] == \"21B\") {\n    msg.payload = msg.payload[2]\n    msg.topic = \"target\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "f916d23f7422e7a9",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Aktual Product CR5",
        "func": "if (msg.payload[0] == \"5\") {\n    msg.payload = msg.payload[3]\n    msg.topic = \"aktual\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "7e128dddfa84650e",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Aktual Product CR6",
        "func": "if (msg.payload[0] == \"6\") {\n    msg.payload = msg.payload[3]\n    msg.topic = \"aktual\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "43f3b25190e2c04f",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Aktual Product CR7",
        "func": "if (msg.payload[0] == \"7\") {\n    msg.payload = msg.payload[3]\n    msg.topic = \"aktual\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "3e881996c81eb832",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Aktual Product CR8",
        "func": "if (msg.payload[0] == \"8\") {\n    msg.payload = msg.payload[3]\n    msg.topic = \"aktual\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "2035d449ea09b5dd",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Aktual Product CR9",
        "func": "if (msg.payload[0] == \"9\") {\n    msg.payload = msg.payload[3]\n    msg.topic = \"aktual\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "7fbe6ad45305e10e",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Aktual Product CR10",
        "func": "if (msg.payload[0] == \"10\") {\n    msg.payload = msg.payload[3]\n    msg.topic = \"aktual\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "68cfc14773afe43c",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Aktual Product CR11",
        "func": "if (msg.payload[0] == \"11\") {\n    msg.payload = msg.payload[3]\n    msg.topic = \"aktual\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "7a9ce27852e0f64f",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Aktual Product CR12",
        "func": "if (msg.payload[0] == \"12\") {\n    msg.payload = msg.payload[3]\n    msg.topic = \"aktual\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "4bf44c2050e09657",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Aktual Product Machining Cam Housing A",
        "func": "if (msg.payload[0] == \"13A\") {\n    msg.payload = msg.payload[3]\n    msg.topic = \"aktual\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1320,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "b5f8026d819f6928",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Aktual Product Machining Cam Housing B",
        "func": "if (msg.payload[0] == \"13B\") {\n    msg.payload = msg.payload[3]\n    msg.topic = \"aktual\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1320,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "b35f1a64140ac71a",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Aktual Product Machining Cam Housing C",
        "func": "if (msg.payload[0] == \"14A\") {\n    msg.payload = msg.payload[3]\n    msg.topic = \"aktual\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1320,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "62b6488e5d3c0084",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Aktual Product Machining Cam Housing D",
        "func": "if (msg.payload[0] == \"14B\") {\n    msg.payload = msg.payload[3]\n    msg.topic = \"aktual\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1320,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "3881695b6592c0fe",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Aktual Product Machining Cam Housing E NR",
        "func": "if (msg.payload[0] == \"15A\") {\n    msg.payload = msg.payload[3]\n    msg.topic = \"aktual\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "9b068b725d55369d",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Aktual Product Machining Cam Housing E D05E",
        "func": "if (msg.payload[0] == \"15B\") {\n    msg.payload = msg.payload[3]\n    msg.topic = \"aktual\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "09e91b176bc8f1a0",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Aktual Product Cam Housing Assy A",
        "func": "if (msg.payload[0] == \"16\") {\n    msg.payload = msg.payload[3]\n    msg.topic = \"aktual\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1310,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "b7a44f10c8e7be20",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Aktual Product Cam Housing Assy B",
        "func": "if (msg.payload[0] == \"17\") {\n    msg.payload = msg.payload[3]\n    msg.topic = \"aktual\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1310,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "68f6dbd0778e2fec",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Aktual Product Cam Housing Assy C NR",
        "func": "if (msg.payload[0] == \"18A\") {\n    msg.payload = msg.payload[3]\n    msg.topic = \"aktual\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1320,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "9d66da5855aa9087",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Aktual Product Cam Housing Assy C D05E",
        "func": "if (msg.payload[0] == \"18B\") {\n    msg.payload = msg.payload[3]\n    msg.topic = \"aktual\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1330,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "dea1e9123d71c363",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Aktual Product Cam Shaft Cam Housing 1A",
        "func": "if (msg.payload[0] == \"19\") {\n    msg.payload = msg.payload[3]\n    msg.topic = \"aktual\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1330,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "c6fc543902a1e676",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Aktual Product Cam Shaft Cam Housing 1B",
        "func": "if (msg.payload[0] == \"20\") {\n    msg.payload = Number(msg.payload[3])\n    msg.topic = \"aktual\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1330,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "fdcdd442937246b7",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Aktual Product Cam Shaft Cam Housing 1C NR",
        "func": "if (msg.payload[0] == \"21A\") {\n    msg.payload = msg.payload[3]\n    msg.topic = \"aktual\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "d40fdbf260c5a200",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Aktual Product Cam Shaft Cam Housing 2 & 3 D05E",
        "func": "if (msg.payload[0] == \"22\") {\n    msg.payload = msg.payload[3]\n    msg.topic = \"aktual\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "13e11ef66b61c699",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Aktual Product Cam Shaft Cam Housing 2",
        "func": "if (msg.payload[0] == \"23\") {\n    msg.payload = msg.payload[3]\n    msg.topic = \"aktual\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1320,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "9738db3d6ccddf2e",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Aktual Product Cam Shaft Cam Housing 3",
        "func": "if (msg.payload[0] == \"24\") {\n    msg.payload = msg.payload[3]\n    msg.topic = \"aktual\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1320,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "d728f038cf57b44c",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Aktual Product Cam Shaft Cam Housing 4",
        "func": "if (msg.payload[0] == \"25\") {\n    msg.payload = msg.payload[3]\n    msg.topic = \"aktual\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1320,
        "y": 1300,
        "wires": [
            []
        ]
    },
    {
        "id": "f9116151a2a76a49",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Aktual Product Spacer Drive Gear",
        "func": "if (msg.payload[0] == \"26\") {\n    msg.payload = msg.payload[3]\n    msg.topic = \"aktual\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1300,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "728ca9b5f3618188",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Aktual Product Retainer",
        "func": "if (msg.payload[0] == \"27\") {\n    msg.payload = msg.payload[3]\n    msg.topic = \"aktual\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1270,
        "y": 1380,
        "wires": [
            []
        ]
    },
    {
        "id": "5e3b927cba173bab",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Aktual Product Inlet Water",
        "func": "if (msg.payload[0] == \"28\") {\n    msg.payload = msg.payload[3]\n    msg.topic = \"aktual\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1270,
        "y": 1420,
        "wires": [
            []
        ]
    },
    {
        "id": "23b8c060f41a93b6",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Aktual Product Roller Arm A",
        "func": "if (msg.payload[0] == \"29\") {\n    msg.payload = msg.payload[3]\n    msg.topic = \"aktual\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 1460,
        "wires": [
            []
        ]
    },
    {
        "id": "76f8d9f7a3bbc449",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Aktual Product Roller Arm B",
        "func": "if (msg.payload[0] == \"30\") {\n    msg.payload = msg.payload[3]\n    msg.topic = \"aktual\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 1500,
        "wires": [
            []
        ]
    },
    {
        "id": "2e6d6473520ec88a",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Aktual Product Balance Shaft",
        "func": "if (msg.payload[0] == \"31\") {\n    msg.payload = msg.payload[3]\n    msg.topic = \"aktual\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 1540,
        "wires": [
            []
        ]
    },
    {
        "id": "8ad60648da75da38",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Aktual Product Adjuster Valve HLA",
        "func": "if (msg.payload[0] == \"32\") {\n    msg.payload = msg.payload[3]\n    msg.topic = \"aktual\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1300,
        "y": 1580,
        "wires": [
            []
        ]
    },
    {
        "id": "fc2903e4f3caf493",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Aktual Product Export Packing Common Rail",
        "func": "if (msg.payload[0] == \"33\") {\n    msg.payload = msg.payload[3]\n    msg.topic = \"aktual\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1330,
        "y": 1620,
        "wires": [
            []
        ]
    },
    {
        "id": "76ab95e649af0abb",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Aktual Product Export Packing IMV",
        "func": "if (msg.payload[0] == \"34\") {\n    msg.payload = msg.payload[3]\n    msg.topic = \"aktual\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1300,
        "y": 1660,
        "wires": [
            []
        ]
    },
    {
        "id": "5e8b77faccd27a87",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Aktual Product Cam Shaft Cam Housing 1C D05E",
        "func": "if (msg.payload[0] == \"21B\") {\n    msg.payload = msg.payload[3]\n    msg.topic = \"aktual\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1350,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "c3cd3e2df6f72a3d",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Aktual Product CR1",
        "func": "if (msg.payload[0] == \"1\") {\n    msg.payload = msg.payload[3]\n    msg.topic = \"aktual\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "bf5e5fe44020a4c4",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Aktual Product CR2",
        "func": "if (msg.payload[0] == \"2\") {\n    msg.payload = msg.payload[3]\n    msg.topic = \"aktual\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "1d5064f828d9a285",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Aktual Product CR3",
        "func": "if (msg.payload[0] == \"3\") {\n    msg.payload = msg.payload[3]\n    msg.topic = \"aktual\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "42fbfb1ef05aad26",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Aktual Product CR4",
        "func": "if (msg.payload[0] == \"4\") {\n    msg.payload = msg.payload[3]\n    msg.topic = \"aktual\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "1fbc86b5e907b583",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Loading Time Product CR5",
        "func": "if (msg.payload[0] == \"5\") {\n    msg.payload = msg.payload[4]\n    msg.topic = \"loading_time\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1800,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "9e3c02e2e97f68e6",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Loading Time  Product CR6",
        "func": "if (msg.payload[0] == \"6\") {\n    msg.payload = msg.payload[4]\n    msg.topic = \"loading_time\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1800,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "8ae2c39a2fdda8ec",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Loading Time Product CR7",
        "func": "if (msg.payload[0] == \"7\") {\n    msg.payload = msg.payload[4]\n    msg.topic = \"loading_time\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1800,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "1143dfd6b84a893e",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Loading Time Product CR8",
        "func": "if (msg.payload[0] == \"8\") {\n    msg.payload = msg.payload[3]\n    msg.topic = \"loading_time\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1800,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "788b24acf00a5550",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Loading Time Product CR9",
        "func": "if (msg.payload[0] == \"9\") {\n    msg.payload = msg.payload[4]\n    msg.topic = \"loading_time\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1800,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "2bdffc36b860ab71",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Loading Time Product CR10",
        "func": "if (msg.payload[0] == \"10\") {\n    msg.payload = msg.payload[4]\n    msg.topic = \"loading_time\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1800,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "7b7b1c3c2441912c",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Loading Time Product CR11",
        "func": "if (msg.payload[0] == \"11\") {\n    msg.payload = msg.payload[4]\n    msg.topic = \"loading_time\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1800,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "2baafe20f9bb84f9",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Loading Time Product CR1",
        "func": "if (msg.payload[0] == \"1\") {\n    msg.payload = msg.payload[4]\n    msg.topic = \"loading_time\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1800,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "471602527f499e04",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Loading Time Product CR2",
        "func": "if (msg.payload[0] == \"2\") {\n    msg.payload = msg.payload[4]\n    msg.topic = \"loading_time\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1800,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "62b841ca4dc06c89",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Loading Time Product CR3",
        "func": "if (msg.payload[0] == \"3\") {\n    msg.payload = msg.payload[4]\n    msg.topic = \"loading_time\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1800,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "7deefcdd637a51de",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Loading Time Product CR4",
        "func": "if (msg.payload[0] == \"4\") {\n    msg.payload = msg.payload[4]\n    msg.topic = \"loading_time\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1800,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "01ebf4c4077a5a2e",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Efisiensi Product CR5",
        "func": "if (msg.payload[0] == \"5\") {\n    msg.payload = msg.payload[5]\n    msg.topic = \"efisiensi\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2320,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "817cd48fed311f8d",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Efisiensi Product CR6",
        "func": "if (msg.payload[0] == \"6\") {\n    msg.payload = msg.payload[5]\n    msg.topic = \"efisiensi\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2320,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "93f49979b74f37bb",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Efisiensi Product CR7",
        "func": "if (msg.payload[0] == \"7\") {\n    msg.payload = msg.payload[5]\n    msg.topic = \"efisiensi\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2320,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "53ac56228884a6f0",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Efisiensi Product CR8",
        "func": "if (msg.payload[0] == \"8\") {\n    msg.payload = msg.payload[5]\n    msg.topic = \"efisiensi\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2320,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "63c5e51942a48067",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Efisiensi Product CR9",
        "func": "if (msg.payload[0] == \"9\") {\n    msg.payload = msg.payload[5]\n    msg.topic = \"efisiensi\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2320,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "6f2e84bf76415591",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Efisiensi Product CR11",
        "func": "if (msg.payload[0] == \"11\") {\n    msg.payload = msg.payload[5]\n    msg.topic = \"efisiensi\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2320,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "c11dbf44757cb9c2",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Efisiensi Product CR1",
        "func": "if (msg.payload[0] == \"1\") {\n    msg.payload = msg.payload[5]\n    msg.topic = \"efisiensi\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2320,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "c5ee76ac3f619f7d",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Efisiensi Product CR2",
        "func": "if (msg.payload[0] == \"2\") {\n    msg.payload = msg.payload[5]\n    msg.topic = \"efisiensi\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2320,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "a7d725e736b9a659",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Efisiensi Product CR3",
        "func": "if (msg.payload[0] == \"3\") {\n    msg.payload = msg.payload[5]\n    msg.topic = \"efisiensi\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2320,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "5ee36792ced3ac4e",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Efisiensi Product CR4",
        "func": "if (msg.payload[0] == \"4\") {\n    msg.payload = msg.payload[5]\n    msg.topic = \"efisiensi\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2320,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "dd4e59a06707603e",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Loading Time Product CR12",
        "func": "if (msg.payload[0] == \"12\") {\n    msg.payload = msg.payload[4]\n    msg.topic = \"loading_time\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1800,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "690a850b132b4e89",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Delay Product CR5",
        "func": "if (msg.payload[0] == \"5\") {\n    msg.payload = msg.payload[6]\n    msg.topic = \"delay\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 1980,
        "wires": [
            []
        ]
    },
    {
        "id": "7a58384b1bc473a9",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Delay Product CR6",
        "func": "if (msg.payload[0] == \"6\") {\n    msg.payload = msg.payload[6]\n    msg.topic = \"delay\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 2020,
        "wires": [
            []
        ]
    },
    {
        "id": "c8dc03c981b06429",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Delay Product CR7",
        "func": "if (msg.payload[0] == \"7\") {\n    msg.payload = msg.payload[6]\n    msg.topic = \"delay\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 2060,
        "wires": [
            []
        ]
    },
    {
        "id": "c343a53aa9fbe0e0",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Delay Product CR8",
        "func": "if (msg.payload[0] == \"8\") {\n    msg.payload = msg.payload[6]\n    msg.topic = \"delay\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 2100,
        "wires": [
            []
        ]
    },
    {
        "id": "e0cd16443f5218e0",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Delay Product CR9",
        "func": "if (msg.payload[0] == \"9\") {\n    msg.payload = msg.payload[6]\n    msg.topic = \"delay\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 2140,
        "wires": [
            []
        ]
    },
    {
        "id": "1264a3b735b4ea9d",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Delay Product CR10",
        "func": "if (msg.payload[0] == \"10\") {\n    msg.payload = msg.payload[6]\n    msg.topic = \"delay\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 2180,
        "wires": [
            []
        ]
    },
    {
        "id": "aa0d1aa5ecd5c93a",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Delay Product CR1",
        "func": "if (msg.payload[0] == \"1\") {\n    msg.payload = msg.payload[6]\n    msg.topic = \"delay\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 1820,
        "wires": [
            []
        ]
    },
    {
        "id": "432932c2e13a8eee",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Delay Product CR2",
        "func": "if (msg.payload[0] == \"2\") {\n    msg.payload = msg.payload[6]\n    msg.topic = \"delay\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 1860,
        "wires": [
            []
        ]
    },
    {
        "id": "921a1fae8d3675a0",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Delay Product CR3",
        "func": "if (msg.payload[0] == \"3\") {\n    msg.payload = msg.payload[6]\n    msg.topic = \"delay\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 1900,
        "wires": [
            []
        ]
    },
    {
        "id": "8c6b3bfb84f03604",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Delay Product CR4",
        "func": "if (msg.payload[0] == \"4\") {\n    msg.payload = msg.payload[6]\n    msg.topic = \"delay\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 1940,
        "wires": [
            []
        ]
    },
    {
        "id": "dad802f02d3d9eeb",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Delay Product CR11",
        "func": "if (msg.payload[0] == \"11\") {\n    msg.payload = msg.payload[6]\n    msg.topic = \"delay\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 2220,
        "wires": [
            []
        ]
    },
    {
        "id": "ad8b0db520b6a30b",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Delay Product CR12",
        "func": "if (msg.payload[0] == \"12\") {\n    msg.payload = msg.payload[6]\n    msg.topic = \"delay\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 2260,
        "wires": [
            []
        ]
    },
    {
        "id": "8fa9f6712d189411",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Cycle Time Product CR5",
        "func": "if (msg.payload[0] == \"5\") {\n    msg.payload = msg.payload[7]\n    msg.topic = \"cycle_time\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 1980,
        "wires": [
            []
        ]
    },
    {
        "id": "4212fdbecc03528b",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Cycle Time Product CR6",
        "func": "if (msg.payload[0] == \"6\") {\n    msg.payload = msg.payload[7]\n    msg.topic = \"cycle_time\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 2020,
        "wires": [
            []
        ]
    },
    {
        "id": "3f1bd1a4a01f2f3c",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Cycle Time Product CR7",
        "func": "if (msg.payload[0] == \"7\") {\n    msg.payload = msg.payload[7]\n    msg.topic = \"cycle_time\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 2060,
        "wires": [
            []
        ]
    },
    {
        "id": "deb3336059181aad",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Cycle Time Product CR8",
        "func": "if (msg.payload[0] == \"8\") {\n    msg.payload = msg.payload[7]\n    msg.topic = \"cycle_time\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 2100,
        "wires": [
            []
        ]
    },
    {
        "id": "940b29b6391fe4fa",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Cycle Time Product CR9",
        "func": "if (msg.payload[0] == \"9\") {\n    msg.payload = msg.payload[7]\n    msg.topic = \"cycle_time\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 2140,
        "wires": [
            []
        ]
    },
    {
        "id": "ae81607b5b170d2c",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Cycle Time Product CR10",
        "func": "if (msg.payload[0] == \"10\") {\n    msg.payload = msg.payload[7]\n    msg.topic = \"cycle_time\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 2180,
        "wires": [
            []
        ]
    },
    {
        "id": "cc963b8aa525c339",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Cycle Time Product CR1",
        "func": "if (msg.payload[0] == \"1\") {\n    msg.payload = msg.payload[7]\n    msg.topic = \"cycle_time\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 1820,
        "wires": [
            []
        ]
    },
    {
        "id": "6de58e21509213a9",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Cycle Time Product CR2",
        "func": "if (msg.payload[0] == \"2\") {\n    msg.payload = msg.payload[7]\n    msg.topic = \"cycle_time\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 1860,
        "wires": [
            []
        ]
    },
    {
        "id": "d8249ecd9d7302fa",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Cycle Time Product CR3",
        "func": "if (msg.payload[0] == \"3\") {\n    msg.payload = msg.payload[7]\n    msg.topic = \"cycle_time\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 1900,
        "wires": [
            []
        ]
    },
    {
        "id": "2a1e10aa3e360afc",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Cycle Time Product CR4",
        "func": "if (msg.payload[0] == \"4\") {\n    msg.payload = msg.payload[7]\n    msg.topic = \"cycle_time\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 1940,
        "wires": [
            []
        ]
    },
    {
        "id": "03dbcdf41e030378",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Cycle Time Product CR11",
        "func": "if (msg.payload[0] == \"11\") {\n    msg.payload = msg.payload[7]\n    msg.topic = \"cycle_time\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 2220,
        "wires": [
            []
        ]
    },
    {
        "id": "bff778a84526eb88",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Cycle Time Product CR12",
        "func": "if (msg.payload[0] == \"12\") {\n    msg.payload = msg.payload[7]\n    msg.topic = \"cycle_time\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 2260,
        "wires": [
            []
        ]
    },
    {
        "id": "f813d465363e411f",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Efisiensi Product CR10",
        "func": "if (msg.payload[0] == \"10\") {\n    msg.payload = msg.payload[6]\n    msg.topic = \"efisiensi\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2330,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "41c9478945b93a32",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Efisiensi Product CR12",
        "func": "if (msg.payload[0] == \"12\") {\n    msg.payload = msg.payload[5]\n    msg.topic = \"efisiensi\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2330,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "f5a55d359187e2ed",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Status Product CR5",
        "func": "if (msg.payload[0] == \"5\") {\n    msg.payload = msg.payload[8]\n    msg.topic = \"status\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 1980,
        "wires": [
            []
        ]
    },
    {
        "id": "64eaf0c4733cd938",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Status Product CR6",
        "func": "if (msg.payload[0] == \"6\") {\n    msg.payload = msg.payload[8]\n    msg.topic = \"status\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 2020,
        "wires": [
            []
        ]
    },
    {
        "id": "e3016016d9f2b94a",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Status Product CR7",
        "func": "if (msg.payload[0] == \"7\") {\n    msg.payload = msg.payload[8]\n    msg.topic = \"status\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 2060,
        "wires": [
            []
        ]
    },
    {
        "id": "bfe6d2a0e0eab44a",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Status Product CR8",
        "func": "if (msg.payload[0] == \"8\") {\n    msg.payload = msg.payload[8]\n    msg.topic = \"status\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 2100,
        "wires": [
            []
        ]
    },
    {
        "id": "290724b26e8ccc9f",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Status Product CR9",
        "func": "if (msg.payload[0] == \"9\") {\n    msg.payload = msg.payload[8]\n    msg.topic = \"status\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 2140,
        "wires": [
            []
        ]
    },
    {
        "id": "9241ec9b9c593ff1",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Status Product CR10",
        "func": "if (msg.payload[0] == \"10\") {\n    msg.payload = msg.payload[8]\n    msg.topic = \"status\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 2180,
        "wires": [
            []
        ]
    },
    {
        "id": "b3649261b8406572",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Status Product CR1",
        "func": "if (msg.payload[0] == \"1\") {\n    msg.payload = msg.payload[8]\n    msg.topic = \"status\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 1820,
        "wires": [
            []
        ]
    },
    {
        "id": "9e0349bbd7ad9993",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Status Product CR2",
        "func": "if (msg.payload[0] == \"2\") {\n    msg.payload = msg.payload[8]\n    msg.topic = \"status\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 1860,
        "wires": [
            []
        ]
    },
    {
        "id": "d16a4a57e2fc70a1",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Status Product CR3",
        "func": "if (msg.payload[0] == \"3\") {\n    msg.payload = msg.payload[8]\n    msg.topic = \"status\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 1900,
        "wires": [
            []
        ]
    },
    {
        "id": "4d95e2ca9ebb4e8a",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Status Product CR4",
        "func": "if (msg.payload[0] == \"4\") {\n    msg.payload = msg.payload[8]\n    msg.topic = \"status\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 1940,
        "wires": [
            []
        ]
    },
    {
        "id": "9b330dfed1a0aabf",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Status Product CR11",
        "func": "if (msg.payload[0] == \"11\") {\n    msg.payload = msg.payload[8]\n    msg.topic = \"status\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 2220,
        "wires": [
            []
        ]
    },
    {
        "id": "fa1959b85050bb30",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Status Product CR12",
        "func": "if (msg.payload[0] == \"12\") {\n    msg.payload = msg.payload[8]\n    msg.topic = \"status\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 2260,
        "wires": [
            []
        ]
    },
    {
        "id": "5f57f18a7e596f57",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Time Trouble Product CR5",
        "func": "if (msg.payload[0] == \"5\") {\n    msg.payload = msg.payload[9]\n    msg.topic = \"time_trouble\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1760,
        "y": 1980,
        "wires": [
            []
        ]
    },
    {
        "id": "9a35d70ce0812937",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Time Trouble  Product CR6",
        "func": "if (msg.payload[0] == \"6\") {\n    msg.payload = msg.payload[9]\n    msg.topic = \"time_trouble\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1760,
        "y": 2020,
        "wires": [
            []
        ]
    },
    {
        "id": "d12d1dda7e5aceca",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Time Trouble Product CR7",
        "func": "if (msg.payload[0] == \"7\") {\n    msg.payload = msg.payload[9]\n    msg.topic = \"time_trouble\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1760,
        "y": 2060,
        "wires": [
            []
        ]
    },
    {
        "id": "24d34a82fcb54111",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Time Trouble Product CR8",
        "func": "if (msg.payload[0] == \"8\") {\n    msg.payload = msg.payload[9]\n    msg.topic = \"time_trouble\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1760,
        "y": 2100,
        "wires": [
            []
        ]
    },
    {
        "id": "72a01b8649c702fd",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Time Trouble Product CR9",
        "func": "if (msg.payload[0] == \"9\") {\n    msg.payload = msg.payload[9]\n    msg.topic = \"time_trouble\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1760,
        "y": 2140,
        "wires": [
            []
        ]
    },
    {
        "id": "e63d84ec41e532f4",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Time Trouble Product CR10",
        "func": "if (msg.payload[0] == \"10\") {\n    msg.payload = msg.payload[9]\n    msg.topic = \"time_trouble\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1760,
        "y": 2180,
        "wires": [
            []
        ]
    },
    {
        "id": "ad1621b7633bfbe9",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Time Trouble Product CR1",
        "func": "if (msg.payload[0] == \"1\") {\n    msg.payload = msg.payload[9]\n    msg.topic = \"time_trouble\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1760,
        "y": 1820,
        "wires": [
            []
        ]
    },
    {
        "id": "d5abf15aba55bf70",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Time Trouble Product CR2",
        "func": "if (msg.payload[0] == \"2\") {\n    msg.payload = msg.payload[9]\n    msg.topic = \"time_trouble\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1760,
        "y": 1860,
        "wires": [
            []
        ]
    },
    {
        "id": "1b8c70b8b14efd6c",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Time Trouble Product CR3",
        "func": "if (msg.payload[0] == \"3\") {\n    msg.payload = msg.payload[9]\n    msg.topic = \"time_trouble\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1760,
        "y": 1900,
        "wires": [
            []
        ]
    },
    {
        "id": "748317b6e3e66c2d",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Time Trouble Product CR4",
        "func": "if (msg.payload[0] == \"4\") {\n    msg.payload = msg.payload[9]\n    msg.topic = \"time_trouble\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1760,
        "y": 1940,
        "wires": [
            []
        ]
    },
    {
        "id": "f76f801aa377e2f3",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Time Trouble Product CR11",
        "func": "if (msg.payload[0] == \"11\") {\n    msg.payload = msg.payload[9]\n    msg.topic = \"time_trouble\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1760,
        "y": 2220,
        "wires": [
            []
        ]
    },
    {
        "id": "d18dfacd811d0d50",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Time Trouble Product CR12",
        "func": "if (msg.payload[0] == \"12\") {\n    msg.payload = msg.payload[9]\n    msg.topic = \"time_trouble\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1760,
        "y": 2260,
        "wires": [
            []
        ]
    },
    {
        "id": "2971434fbe493f5a",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Time Trouble Quality Product CR5",
        "func": "if (msg.payload[0] == \"5\") {\n    msg.payload = msg.payload[10]\n    msg.topic = \"time_trouble_quality\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2300,
        "y": 1980,
        "wires": [
            []
        ]
    },
    {
        "id": "aa9a3ab6dfc88ab0",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Time Trouble Quality Product CR6",
        "func": "if (msg.payload[0] == \"6\") {\n    msg.payload = msg.payload[10]\n    msg.topic = \"time_trouble_quality\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2300,
        "y": 2020,
        "wires": [
            []
        ]
    },
    {
        "id": "879b6f52a8b2edf7",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Time Trouble Quality Product CR7",
        "func": "if (msg.payload[0] == \"7\") {\n    msg.payload = msg.payload[10]\n    msg.topic = \"time_trouble_quality\"\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2300,
        "y": 2060,
        "wires": [
            []
        ]
    },
    {
        "id": "4e65c1b730ea2b01",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Time Trouble Quality Product CR8",
        "func": "if (msg.payload[0] == \"8\") {\n    msg.payload = msg.payload[10]\n    msg.topic = \"time_trouble_quality\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2300,
        "y": 2100,
        "wires": [
            []
        ]
    },
    {
        "id": "c6e5219a3b9b1034",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Time Trouble Quality Product CR9",
        "func": "if (msg.payload[0] == \"9\") {\n    msg.payload = msg.payload[10]\n    msg.topic = \"time_trouble_quality\"\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2300,
        "y": 2140,
        "wires": [
            []
        ]
    },
    {
        "id": "632192ef4d478224",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Time Trouble Quality Product CR10",
        "func": "if (msg.payload[0] == \"10\") {\n    msg.payload = msg.payload[10]\n    msg.topic = \"time_trouble_quality\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2300,
        "y": 2180,
        "wires": [
            []
        ]
    },
    {
        "id": "d3efafc415a985d4",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Time Trouble Quality Product CR1",
        "func": "if (msg.payload[0] == \"1\") {\n    msg.payload = msg.payload[10]\n    msg.topic = \"time_trouble_quality\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2300,
        "y": 1820,
        "wires": [
            []
        ]
    },
    {
        "id": "e86fcff1d030ddbe",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Time Trouble Quality Product CR2",
        "func": "if (msg.payload[0] == \"2\") {\n    msg.payload = msg.payload[10]\n    msg.topic = \"time_trouble_quality\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2300,
        "y": 1860,
        "wires": [
            []
        ]
    },
    {
        "id": "37845373b4a47921",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Time Trouble Quality Product CR3",
        "func": "if (msg.payload[0] == \"3\") {\n    msg.payload = msg.payload[10]\n    msg.topic = \"time_trouble_quality\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2300,
        "y": 1900,
        "wires": [
            []
        ]
    },
    {
        "id": "97c8c934335ba57c",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Time Trouble Quality Product CR4",
        "func": "if (msg.payload[0] == \"4\") {\n    msg.payload = msg.payload[10]\n    msg.topic = \"time_trouble_quality\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2300,
        "y": 1940,
        "wires": [
            []
        ]
    },
    {
        "id": "4f1c1a0a2d40a0b4",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Time Trouble Quality Product CR11",
        "func": "if (msg.payload[0] == \"11\") {\n    msg.payload = msg.payload[10]\n    msg.topic = \"time_trouble_quality\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2300,
        "y": 2220,
        "wires": [
            []
        ]
    },
    {
        "id": "524f9fe358e5f050",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Time Trouble Quality Product CR12",
        "func": "if (msg.payload[0] == \"12\") {\n    msg.payload = msg.payload[10]\n    msg.topic = \"time_trouble_quality\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2300,
        "y": 2260,
        "wires": [
            []
        ]
    },
    {
        "id": "512bc1927c69e1a9",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Andon Product CR5",
        "func": "if (msg.payload[0] == \"5\") {\n    msg.payload = msg.payload[11]\n    msg.topic = \"andon\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2820,
        "y": 1980,
        "wires": [
            []
        ]
    },
    {
        "id": "fadff75b8111d234",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Andon Product CR6",
        "func": "if (msg.payload[0] == \"6\") {\n    msg.payload = msg.payload[11]\n    msg.topic = \"andon\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2820,
        "y": 2020,
        "wires": [
            []
        ]
    },
    {
        "id": "15069bb736254ca1",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Andon Product CR7",
        "func": "if (msg.payload[0] == \"7\") {\n    msg.payload = msg.payload[11]\n    msg.topic = \"andon\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2820,
        "y": 2060,
        "wires": [
            []
        ]
    },
    {
        "id": "6a748078d2942a1b",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Andon Product CR8",
        "func": "if (msg.payload[0] == \"8\") {\n    msg.payload = msg.payload[11]\n    msg.topic = \"andon\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2820,
        "y": 2100,
        "wires": [
            []
        ]
    },
    {
        "id": "1ad36f978475ad77",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Andon Product CR9",
        "func": "if (msg.payload[0] == \"9\") {\n    msg.payload = msg.payload[11]\n    msg.topic = \"andon\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2820,
        "y": 2140,
        "wires": [
            []
        ]
    },
    {
        "id": "60ed85205e35b931",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Andon Product CR10",
        "func": "if (msg.payload[0] == \"10\") {\n    msg.payload = msg.payload[11]\n    msg.topic = \"andon\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2820,
        "y": 2180,
        "wires": [
            []
        ]
    },
    {
        "id": "07d5f13e5866a320",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Andon Product CR1",
        "func": "if (msg.payload[0] == \"1\") {\n    msg.payload = msg.payload[11]\n    msg.topic = \"andon\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2820,
        "y": 1820,
        "wires": [
            []
        ]
    },
    {
        "id": "0d8527244e22da1f",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Andon Product CR2",
        "func": "if (msg.payload[0] == \"2\") {\n    msg.payload = msg.payload[11]\n    msg.topic = \"andon\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2820,
        "y": 1860,
        "wires": [
            []
        ]
    },
    {
        "id": "b35ef57c4aef6f2b",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Andon Product CR3",
        "func": "if (msg.payload[0] == \"3\") {\n    msg.payload = msg.payload[11]\n    msg.topic = \"andon\"\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2820,
        "y": 1900,
        "wires": [
            []
        ]
    },
    {
        "id": "e473c1eb6845e9a0",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Andon Product CR4",
        "func": "if (msg.payload[0] == \"4\") {\n    msg.payload = msg.payload[11]\n    msg.topic = \"andon\"\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2820,
        "y": 1940,
        "wires": [
            []
        ]
    },
    {
        "id": "9e5309c0bc4aaecf",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Andon Product CR11",
        "func": "if (msg.payload[0] == \"11\") {\n    msg.payload = msg.payload[11]\n    msg.topic = \"andon\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2820,
        "y": 2220,
        "wires": [
            []
        ]
    },
    {
        "id": "70898247c88ac39a",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Andon Product CR12",
        "func": "if (msg.payload[0] == \"12\") {\n    msg.payload = msg.payload[11]\n    msg.topic = \"andon\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2820,
        "y": 2260,
        "wires": [
            []
        ]
    },
    {
        "id": "f549a74d13d38f7f",
        "type": "ui_chart",
        "z": "7d75a9e3d720be7f",
        "name": "",
        "group": "59f7b235b22b239b",
        "order": 1,
        "width": 13,
        "height": 7,
        "label": "Cam Shaft Cam Housing 1B",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "cubic",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "500",
        "removeOlder": "50",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#323c43",
            "#6091d2",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2480,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "0169cb27c8e528ba",
        "type": "ui_button",
        "z": "7d75a9e3d720be7f",
        "name": "",
        "group": "59f7b235b22b239b",
        "order": 4,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Clear",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 2410,
        "y": 1000,
        "wires": [
            [
                "f549a74d13d38f7f"
            ]
        ]
    },
    {
        "id": "ee5e47a813e1b9a7",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Random Temperatrures",
        "func": "msg.payload = Math.random() * 100\nmsg.topic = \"Aktual\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2050,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "dafbc9c7e4d9d86c",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Random Temperatrures",
        "func": "msg.payload = Math.random() * 100\nmsg.topic = \"target\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2050,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "6e67580e4c98e20d",
        "type": "ui_gauge",
        "z": "7d75a9e3d720be7f",
        "name": "",
        "group": "59f7b235b22b239b",
        "order": 2,
        "width": 6,
        "height": 7,
        "gtype": "gage",
        "title": "Efisiensi(%)",
        "label": "(%)",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 2430,
        "y": 1100,
        "wires": []
    },
    {
        "id": "bf1f28627eb27c43",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Efisiensi Product Cam Shaft Cam Housing 1B",
        "func": "if (msg.payload[0] == \"20\") {\n    msg.payload = Number(msg.payload[5])/10\n    msg.topic = \"aktual\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2120,
        "y": 1100,
        "wires": [
            [
                "6e67580e4c98e20d"
            ]
        ]
    },
    {
        "id": "1547ae422b8c86aa",
        "type": "ui_text",
        "z": "7d75a9e3d720be7f",
        "group": "59f7b235b22b239b",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Nama Part",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 2430,
        "y": 1140,
        "wires": []
    },
    {
        "id": "afb1bf8a7d962bfc",
        "type": "ui_text",
        "z": "7d75a9e3d720be7f",
        "group": "59f7b235b22b239b",
        "order": 6,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Loading Time",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 2440,
        "y": 1180,
        "wires": []
    },
    {
        "id": "eb80487f5a28425e",
        "type": "ui_text",
        "z": "7d75a9e3d720be7f",
        "group": "59f7b235b22b239b",
        "order": 8,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Delay",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 2410,
        "y": 1220,
        "wires": []
    },
    {
        "id": "ea04a2efa6047f9d",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Nama Product Cam Shaft Cam Housing 1B",
        "func": "if (msg.payload[0] == \"20\") {\n    msg.payload = (msg.payload[1])\n    msg.topic = \"aktual\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2110,
        "y": 1140,
        "wires": [
            [
                "1547ae422b8c86aa"
            ]
        ]
    },
    {
        "id": "4c15b0e33dd0af95",
        "type": "function",
        "z": "7d75a9e3d720be7f",
        "name": "Nama Product Cam Shaft Cam Housing 1B",
        "func": "if (msg.payload[0] == \"20\") {\n    msg.payload = Number(msg.payload[4])\n    msg.topic = \"loading_time\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2110,
        "y": 1180,
        "wires": [
            [
                "afb1bf8a7d962bfc"
            ]
        ]
    },
    {
        "id": "59f7b235b22b239b",
        "type": "ui_group",
        "name": "Target-Aktual",
        "tab": "d96831e8a2f7a2c9",
        "order": 1,
        "disp": true,
        "width": 30,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d96831e8a2f7a2c9",
        "type": "ui_tab",
        "name": "Monitoring Cam Shaft Cam Housing 1B",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]
